@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&family=Poppins:wght@300;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    @apply relative min-h-screen w-full bg-white_color pt-[10vh] pb-8;
  }
  .nav-link {
    @apply w-fit mx-auto relative font-bold text-white hover:text-primary_color duration-300 cursor-pointer py-2 px-1 after:absolute after:bottom-0 after:left-0 after:rounded after:h-1 after:duration-300 after:w-0 after:bg-primary_color hover:after:w-full;
  }
  .inner-wrapper {
    @apply w-full max-w-5xl px-4 mx-auto;
  }

  .container {
    @apply flex flex-col justify-start items-center;
  }

}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.active {
  color: #CC0033;
}

.active::after {
  width: 100%;
}
